#title, #title-prompt-text {
	opacity: 0;
}

#titlediv .name-prompt-text, .wp-fullscreen-name-prompt-text {
    cursor: text;
    color: #BBBBBB;
    font-size: 1.7em;
    padding: 8px 10px;
    position: absolute;
}

#titlediv .namediv {
	display: inline-block;
}

#titlediv .name {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
}

#titlediv .name {
    font-size: 1.7em;
    line-height: 100%;
    outline: medium none;
    padding: 3px 8px;
    width: 100%;
}
